/* css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #005f73; /* Um tom de azul */
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

#formulario-tarefa {
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"], input[type="date"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #9bbf28; /* Um tom de verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bg-brand-blue {
    background-color: #005f73; /* Tom de azul do logo */
}