/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
  /* Aplicando nossa nova paleta base */
  background-color: #f8f9fa; /* Fundo cinza claro */
  color: #212529; /* Texto escuro */

  /* Espaçamento para a navbar fixa */
  padding-top: 75px; 
}